.App {
  background-color: rgb(251, 255, 255);
}
.Foot{
   text-align: center; 
}
.button {
   font-size: 35px;
   width: 180px;
   height: 60px;
   cursor: pointer;
   background: transparent;
   border: 1px solid #262121;
   outline: none;
   transition: 1s ease-in-out;
   border-radius: 12px;
 }
 .button:hover {
   transition: 1s ease-in-out;
   background: #373f39;
 }
 
 .button:hover svg {
   stroke-dashoffset: -480;
 }
 
 .button span {
    
   color: rgb(230, 220, 220);
   font-size: 18px;
   font-weight: 100;
 }
  
  .List{
     margin-top: 10px;
  }
  .Item{
   font-family: cursive, sans-serif;
   background-color: #dbf0e4;
   color: white;
   padding: 7px;
   border-radius: 4px;
   box-shadow: 2px 2px 20px 23px #7fecad;
 }
  .text{
     text-align: center;
   color: rgb(102, 103, 106);
   font-family:'Times New Roman', Times, serif;
   font-size: 40px;
   font-weight:lighter;
   margin-top: 20px;
   margin-bottom: 30px;
  }